### 7.1

In [ ]:
num_list = [100, 200, 300, 400, 500, 600, 700, 800]
high = 6
low = 3

In [2]:
num_list[high]

700

In [4]:
num_list[high-2]

500

In [5]:
num_list[high-low]

400

In [7]:
num_list[low-high]

600

In [6]:
num_list[-1]

800

In [8]:
num_list[-low]

600

In [9]:
num_list[2*3]

700

In [10]:
num_list[2]*3

900

In [11]:
num_list[5%4]

200

In [12]:
num_list[:2]*3

[100, 200, 100, 200, 100, 200]

In [14]:
len(num_list)

8

In [15]:
min(num_list)

100

In [16]:
max(num_list)

800

In [17]:
num_list[:3]

[100, 200, 300]

In [18]:
num_list[1:5]

[200, 300, 400, 500]

In [19]:
num_list[-1:-5:-1]

[800, 700, 600, 500]

In [20]:
num_list[-5:-1:2]

[400, 600]

### 7.2

In [35]:
list1 = [3, 5, 7]
list2 = [2,3,4,5,6]
print("리스트 요소끼리 곱하기")
for i in list1:
    for j in list2:
        
        print(f"{i:2d} * {j:d} = {i*j:3}")

리스트 요소끼리 곱하기
 3 * 2 =   6
 3 * 3 =   9
 3 * 4 =  12
 3 * 5 =  15
 3 * 6 =  18
 5 * 2 =  10
 5 * 3 =  15
 5 * 4 =  20
 5 * 5 =  25
 5 * 6 =  30
 7 * 2 =  14
 7 * 3 =  21
 7 * 4 =  28
 7 * 5 =  35
 7 * 6 =  42

### 7.3

In [46]:
list1 = ['I like', 'I love']
list2 = ['pancakes', 'kiwi juice', 'espresso']

for i in list1:
    for j in list2:
        print(i , j)

I like pancakes
I like kiwi juice
I like espresso
I love pancakes
I love kiwi juice
I love espresso

### 7.4

In [47]:
t = (10, 20, 30, 40)
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
t = (10, 20, 30, 40)
t.remove(40)

AttributeError: 'tuple' object has no attribute 'remove'

In [49]:
t = (10, 20, 30, 40)
t[0] = 0

TypeError: 'tuple' object does not support item assignment

### 7.5

In [52]:
list3 = []

for i in  ('A', 'B', 'C'):
    for j in ('1', '2'):
        list3.append(i + j)

list3

['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

In [51]:
seat_numbers = []
for alphabet in ('A', 'B', 'C'):
    for num in ('1', '2'):
        seat_numbers.append(alphabet + num)

print(seat_numbers)
seat_numbers = []
for alphabet in ('A', 'B', 'C'):
    for num in (1, 2):
        seat_numbers.append(alphabet + str(num))

print(seat_numbers)

['A1', 'A2', 'B1', 'B2', 'C1', 'C2']
['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

### 7.6

In [2]:
string = "python"

l = len(string)
l

6

In [7]:
for i  in range(l):
    print(string[:(i+1)])
for i in range(l):
    print(string[:-i])

p
py
pyt
pyth
pytho
python

pytho
pyth
pyt
py
p

In [10]:
string = "python" # input('문자열을 입력하세요 :')

for i in range(1, len(string)*2):
    if i <= len(string):
        print(string[:i])
    else:
        print(string[:-(i-len(string))])

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

In [11]:
string = 'python'
l = len(string)

for i in range(1, l+1):
    print(string[:i])

for j in range(1, l+1):
    print(string[:-j])

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

### 7.7

In [44]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

for fruit in fruit_list:
    print(f"{fruit:6s} : 문자열의 길이 {len(fruit)}")

banana : 문자열의 길이 6
orange : 문자열의 길이 6
kiwi   : 문자열의 길이 4
apple  : 문자열의 길이 5
melon  : 문자열의 길이 5

In [22]:
max(fruit_list)

'orange'

In [26]:
max_length = [item for item in fruit_list if len(item) == len(max(fruit_list))]
max_length

['banana', 'orange']

In [45]:
max_length = []
for item in fruit_list:
    if len(item) == len(max(fruit_list)):
        max_length.append(item)
max_length

['banana', 'orange']

In [46]:
for item in max_length:
    fruit_list.remove(item)

fruit_list

['kiwi', 'apple', 'melon']

In [49]:
concat = ",".join(max_length)
print("가장 긴 문자열 :", concat) # join
print("fruit_list : ",','.join( fruit_list))

가장 긴 문자열 : banana,orange
fruit_list :  kiwi,apple,melon

### 7.8

In [14]:
n = 5
snake = list(range(1, n**2+1))

for i in range(n):
    sub_snake = snake[i*n: (i*1)*n]
    if i % 2 == 0:
        for k in sub_snake:
            print(f"{k:3d}", end=' ')
    else:
        for k in sub_snake[::-1]:
            print(f"{k:3d}", end=' ')
    print()

In [13]:
def print_snake(sub_snake):
     for k in sub_snake:
            print(f"{k:3d}", end=' ')
n = 5
snake = list(range(1, n**2+1))

for i in range(n):
    sub_snake = snake[i*n: (i*1)*n]
    if i % 2 == 0:
        print_snake(sub_snake)
    else:
         print_snake(sub_snake[::-1])   
    print()

In [15]:
def print_snake(sub_snake):
    for k in sub_snake:
        print(f"{k:3d}", end=' ')
            
n = 7
snake = list(range(1, n**2+1))

for i in range(n):
    sub_snake = snake[i*n: (i+1)*n]
    if i % 2 == 0:
        print_snake(sub_snake)
    else:
        print_snake(sub_snake[::-1])
    print()

  1   2   3   4   5   6   7
 14  13  12  11  10   9   8
 15  16  17  18  19  20  21
 28  27  26  25  24  23  22
 29  30  31  32  33  34  35
 42  41  40  39  38  37  36
 43  44  45  46  47  48  49

In [16]:
def overlap(strA, strB):
    n = min(len(strA), len(strB))
    combined = strA + strB
    for i in range(n+1):
        if strA[-i:] == strB[:i]:
            combined = strA+strB[i:]
            
        return combined

### 7.8

In [17]:
def overlap(strA, strB):
    n = min(len(strA), len(strB))
    commbined = strA + strB
    for i in range(n+1):
        if strA[-i:] == strB[:i]:
            commbined = strA+strB[i:]

    return commbined

In [18]:
strA, strB = 'commu', 'mummy'
overlap(strA, strB)

'commummy'

In [19]:
strA, strB = 'boxok', 'xbox'
overlap(strA, strB)

'boxokxbox'